@use "variables" as *;
@use "mixins" as *;

.sr-only {
  position: absolute;
  width: var(--space-12);
  height: var(--space-12);
  margin: calc(-1 * var(--space-12));
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(50%);
}
