@use "sass:color";

:root {
  /* FONTS */

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  /* COLORS */

  --c-white: hsl(0deg 0% 100%);
  --c-white-08: hsl(0deg 0% 100% / 8%);
  --c-white-10: hsl(0deg 0% 100% / 10%);
  --c-white-20: hsl(0deg 0% 100% / 20%);

  --c-neutral-300: hsl(252deg 6% 83%);
  --c-neutral-500: hsl(245deg 15% 58%);
  --c-neutral-700: hsl(245deg 19% 35%);
  --c-neutral-900: hsl(248deg 70% 10%);

  --c-orange-500: hsl(7deg 88% 67%);
  --c-orange-700: hsl(7deg 71% 60%);

  --c-gradient: linear-gradient(
    90deg,
    var(--c-orange-500) 0%,
    var(--c-white) 100%
  );

  /* SIZES */

  --space-0: 0; /* 0x */
  --space-12: 0.0625rem; /* 1px */
  --space-25: 0.125rem; /* 2px */
  --space-50: 0.25rem; /* 4px */
  --space-100: 0.5rem; /* 8px */
  --space-125: 0.625rem; /* 10px */
  --space-150: 0.75rem; /* 12px */
  --space-175: 0.875rem; /* 14px */
  --space-200: 1rem; /* 16px */
  --space-225: 1.125rem; /* 18px */
  --space-250: 1.25rem; /* 20px */
  --space-275: 1.375rem; /* 22px */
  --space-300: 1.5rem; /* 24px */
  --space-350: 1.75rem; /* 28px */
  --space-375: 1.875rem; /* 30px */
  --space-400: 2rem; /* 32px */
  --space-500: 2.5rem; /* 40px */
  --space-600: 3rem; /* 48px */
  --space-625: 3.125rem; /* 50px */
  --space-650: 3.25rem; /* 52px */
  --space-675: 3.375rem; /* 54px */
  --space-700: 3.5rem; /* 56px */
  --space-750: 3.75rem; /* 60px */
  --space-800: 4rem; /* 64px */
  --space-900: 4.5rem; /* 72px */
  --space-1000: 5rem; /* 80px */
  --space-1100: 5.5rem; /* 88px */
  --space-1200: 6rem; /* 96px */
  --space-1300: 6.5rem; /* 104px */
  --space-1400: 7rem; /* 112px */
  --space-1500: 7.5rem; /* 120px */
  --space-1600: 8rem; /* 128px */
}
