@use "../styles/utils/" as *;

.form {
  margin-block-start: var(--space-600);
  width: min(100%, 28.75rem);
  display: grid;
  gap: var(--space-300);
}

.submit-button {
  display: inline-block;
  height: var(--space-675);
  width: 100%;
  @include preset("5-extrabold");
  text-align: center;
  padding-inline: var(--space-200);
  background-color: var(--c-orange-500);
  color: var(--c-neutral-900);
  border: 0;
  border-radius: var(--space-150);
  cursor: pointer;

  &:hover {
    background-color: var(--c-orange-700);
    box-shadow: inset 0 calc(-1 * var(--space-50)) 0 var(--c-orange-500);
  }

  &:focus {
    outline: var(--space-25) solid var(--c-neutral-500);
    outline-offset: var(--space-25);
    transform: translateY(0);
  }

  &:active {
    box-shadow: 0 0 0 var(--c-orange-500);
    transform: translateY(0);
    outline: 0;
  }

  &:focus:hover {
    outline: none;
  }
}
