@use "../styles/utils/" as *;

.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.label {
  @include preset("5");
  color: var(--c-white);
}

.input {
  @include preset("6");
  padding-inline: var(--space-200);
  height: var(--space-675);
  border: var(--space-12) solid var(--c-neutral-500);
  border-radius: var(--space-150);
  background-color: var(--c-white-08);
  color: var(--c-neutral-300);
  -webkit-backdrop-filter: blur(var(--space-50));
  backdrop-filter: blur(var(--space-50));

  &:hover {
    background-color: var(--c-white-20);
  }

  &:focus {
    outline: var(--space-25) solid var(--c-neutral-500);
    outline-offset: var(--space-25);
  }
}

.input-error {
  composes: input;
  border-color: var(--c-orange-500);
}
