@use "../styles/utils/" as *;

.title {
  @include preset("l");
  color: var(--c-white);
  text-align: center;
  margin-top: var(--space-750);
}

.subtitle {
  @include preset("4");
  color: var(--c-neutral-300);
  text-align: center;
  margin-top: var(--space-250);
}
