@use "../utils" as *;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

body {
  background-image:
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-squiggly-line-top.svg"),
    url("/assets/images/pattern-lines.svg"),
    url("/assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("/assets/images/background-desktop.png");
  background-repeat:
    no-repeat, no-repeat, no-repeat, repeat, no-repeat, no-repeat;
  background-size: auto, auto, auto, auto, auto, cover;
  background-position:
    80% 60%,
    left var(--space-500) top calc(-1 * var(--space-800)),
    right 0 top var(--space-750),
    top,
    bottom left,
    center;
  font-family: Inconsolata, monospace;
  position: relative;
  min-height: 100dvh;

  @include mq(m) {
    background-image:
      url("/assets/images/pattern-circle.svg"),
      url("/assets/images/pattern-circle.svg"),
      url("/assets/images/pattern-squiggly-line-top.svg"),
      url("/assets/images/pattern-lines.svg"),
      url("/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("/assets/images/background-tablet.png");
    background-size: auto, auto, 30%, auto, 60%, cover;
  }

  @include mq(s) {
    background-image:
      url("/assets/images/pattern-circle.svg"),
      url("/assets/images/pattern-circle.svg"),
      url("/assets/images/pattern-squiggly-line-top.svg"),
      url("/assets/images/pattern-lines.svg"),
      url("/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("/assets/images/background-mobile.png");
  }
}
