/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: currentcolor;

  &:focus-visible {
    outline: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 99999s ease-out 0s;
  -webkit-text-fill-color: var(--c-white);
  caret-color: var(--c-white);
}
